@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope_font{
    font-family: "Manrope", sans-serif;
}
.textColor{
    color: #1C1C1C;
}

.pColor{
    color: #777777;
}